<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <title>OBTP plug-in</title>
</head>

<body>
    <div class="title-container">
        <button class="switch-mode"></button>
        <a class="title" href="{% url 'data' %}">OBTP plug-in</a>
        <img class="minfin-logo" src="{% static 'minfin_logo.png' %}"/>
        <button class="logout-button">Logout</button>
    </div>
    
    {% block content %}

    {% endblock %}

</body>

<script src="{% static 'script_switch.js' %}"></script>

</html>