<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <title>OBTP plug-in</title>
</head>

<body>
    <header class="title-container">
        <a class="title" href="{% url 'data' %}">
            <h1>OBTP plug-in</h1>
        </a>
        <button class="logout-btn">Logout</button>
    </header>

    {% block content %}

    {% endblock %}

</body>

<script src="{% static 'script_switch.js' %}"></script>

</html>