{% extends 'main.html' %} {% load static %} {% block content %}

<div class="flex-container">
  <div class="all-infos-building">
    <h2 class="subtitle">{{building.name}}</h2>
    <div class="characteristics">
      <h4 class="bloc-title">Caratéristiques du bâtiment</h4>
      <ul id="building-characteristics">
        <li>Nom : {{building.name}}</li>
        <li>Adresse : {{building.address}}</li>
        <li>Ville : {{building.city}}</li>
        <li>Code Postal : {{building.postal_code}}</li>
        <li>Pays : {{building.country}}</li>
      </ul>
    </div>
    <div class="characteristics">
      <h4 class="bloc-title">Liste des salles du bâtiment</h4>
      <ul>
        {% for room in rooms %}
        <li>Nom de la salle : {{room.name}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="flex-container">
  <button class="delete-button" id="delete-building" value="{{building.id}}">
    Supprimer le bâtiment
  </button>
</div>

<script src="{% static 'script_building.js' %}"></script>

{% endblock content %}