{% extends 'main.html' %} {% load static %} {% block content %}

<button class="btn rounded-circle" style="position: fixed; left: 1rem; top: 5rem;" onclick="goBack()">
  <i class="bi bi-arrow-left" style="font-size: 2.5rem;"></i>
</button>

<div class="card shadow" style="width: 24rem;">
  <h2 class="card-header card-title m-0 bg-body-tertiary">Base de données</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item p-4">
      <form class="form" enctype="multipart/form-data" method="POST" action="">
        {% csrf_token %}
        {{ form_csv.as_p }}
        <span class="d-flex justify-content-end">
          <button class="btn btn-primary" type="submit" name="database-load">Importer le fichier</button>
        </span>
      </form>
    </li>
    <li class="list-group-item p-4">
      <h4 class="card-subtitle mb-2">Supprimer toute la BDD :</h4>
      <span class="d-flex flex-column mt-4">
        <button class="btn btn-outline-danger flex-grow-1" onclick="deleteData()">Supprimer</button>
      </span>
    </li>
  </ul>
</div>

<script src="{% static 'script_data.js' %}"></script>

{% endblock %}