{% extends 'main.html' %} {% load static %} {% block content %}


<form class="form" enctype="multipart/form-data" method="POST" action="">
  {% csrf_token %}
  {{ form_csv.as_p }}
  <button class="delete-button" id="delete-data">Supprimer la BDD</button>
  <input class="submit-btn" type="submit" name="database-load" value="Charger la BDD">
</form>


<div class="infos-bdd">
  <div class="wrapper" data="salles">
    <table id="salles">
      <caption>
        <h3>SALLES</h3>
        <a href="{% url 'add-room' %}">
          <button>Ajouter une salle</button>
        </a>
      </caption>
      <tr>
        <th>Nom</th>
        <th>Bâtiment</th>
        <th>Étage</th>
        <th>Capacité</th>
      </tr>
      {% for room in rooms %}
      <tr>
        <td data-cell="name">
          <a href="{% url 'room' room.id %}">{{ room.name }}</a>
        </td>
        <td data-cell="building">
          {% if room.building_id != None %}
          <a href="{% url 'building' room.building_id.id %}">{{room.building_id.name}}</a>
          {% else %} Unknown
          {% endif %}
        </td>
        <td data-cell="floor">{{ room.floor }}</td>
        <td data-cell="capacity">{{ room.capacity }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="wrapper" data="buildings">
    <table id="bâtiments">
      <caption>
        <h3>BÂTIMENTS</h3>
        <a href="{% url 'add-building' %}">
          <button>Ajouter un bâtiment</button>
        </a>
      </caption>
      <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Code postal</th>
        <th>Id</th>
      </tr>
      {% for building in buildings %}
      <tr>
        <td data-cell="name">
          <a href="{% url 'building' building.id %}">{{ building.name }}</a>
        </td>
        <td data-cell="adress">{{ building.address }}</td>
        <td data-cell="city">{{ building.city }}</td>
        <td data-cell="postal-code">{{ building.postal_code }}</td>
        <td data-cell="buildin-id">{{ building.id }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="flex-container">
    {% if rooms %}
    <button id="init-button">INIT CISCO</button>
    {% endif %}
  </div>

</div>

<script src="{% static 'script.js' %}"></script>

{% endblock %}