{% extends 'main.html' %} {% load static %} {% block content %}

<button class="btn rounded-circle" style="position: fixed; left: 1rem; top: 5rem;" onclick="goBack()">
  <i class="bi bi-arrow-left" style="font-size: 2.5rem;"></i>
</button>

<div class="card shadow" style="width: 24rem;">

  <div class="card-header d-flex justify-content-between align-items-center bg-body-tertiary">
    <h2 class="card-title m-0">{{room.name}}</h2>
    {% if not room.is_init %}
    <button class="btn btn-secondary d-flex align-items-center" onclick="initRoom({{room.id}})">
      <p class="m-0">Initialiser la salle</p>
    </button>
    {% endif %}
  </div>

  <ul class="list-group list-group-flush">

    <li class="list-group-item p-0">
      <div class="accordion accordion-flush" id="accordionFlush">

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
              aria-expanded="true" aria-controls="flush-collapseOne">
              Caratéristiques de la salle :
            </button>
          </h4>
          <div id="flush-collapseOne" class="accordion-collapse collapse show">
            <ul class="accordion-body ms-4">
              <li>Bâtiment : <a href="{% url 'building' room.building_id.id %}">{{room.building_id.name }}</a></li>
              <li>Étage : {{room.floor}}</li>
              <li>Numéro de salle : {{room.number}}</li>
              <li>Capacité : {{room.capacity}} personne(s)</li>
              <li>
                Équipée de fenêtre :
                {% if room.has_windows %} OUI
                {% else %} NON
                {% endif %}
              </li>
            </ul>
          </div>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Caratéristiques du bâtiment :
            </button>
          </h4>
          <div id="flush-collapseTwo" class="accordion-collapse collapse">
            <ul class="accordion-body ms-4">
              <li>Nom : <a href="{% url 'building' room.building_id.id %}">{{room.building_id.name }}</a></li>
              <li>Adresse : {{room.building_id.address}}</li>
              <li>Ville : {{room.building_id.city}}</li>
              <li>Code Postal : {{room.building_id.postal_code}}</li>
              <li>Pays : {{room.building_id.country}}</li>
            </ul>
          </div>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Réunions prévues :
            </button>
          </h4>
          <div id="flush-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
              {% if room.is_init %}
              <ul>
                {% for meet in next_meetings %}
                <h4 class="meeting-title">{{meet.name}}</h4>
                <ul class="meeting-characteristics">
                  <li>Début : {{meet.start}}</li>
                  <li>Fin : {{meet.end}}</li>
                  <li>Invités :
                    <ul>
                      {% for user in meet.guest_infos %}
                      <li>{{user.name}}</li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
                {% endfor %}
            </div>
            {% else %}
            <div class="flex-container">
              <div class="not-init-msg"> La salle n'est pas initialisée </div>
            </div>
            {% endif %}
          </div>
        </div>

      </div>
    </li>

    <li class="list-group-item p-4">
      <h4 class="card-subtitle mb-2">Supprimer la salle :</h4>
      <span class="d-flex flex-column mt-4">
        <button class="btn btn-outline-danger" onclick="deleteRoom({{room.id}})">Supprimer</button>
      </span>
    </li>

  </ul>
</div>

<script src="{% static 'script_room.js' %}"></script>

{% endblock content %}