@font-face {
    font-family: Marianne;
    src: url(../assets/fonts/Marianne/Marianne-Thin.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-Thin.woff2) format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Marianne;
    src: url(../assets/fonts/Marianne/Marianne-Thin_Italic.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-Thin_Italic.woff2) format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Marianne;
    src: url(../assets/fonts/Marianne/Marianne-Light.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url(../assets/fonts/Marianne/Marianne-Light_Italic.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-Light_Italic.woff2) format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Marianne';
    src: url(../assets/fonts/Marianne/Marianne-Regular.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url(../assets/fonts/Marianne/Marianne-Regular_Italic.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-Regular_Italic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Marianne';
    src: url(../assets/fonts/Marianne/Marianne-Medium.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url(../assets/fonts/Marianne/Marianne-Medium_Italic.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-Medium_Italic.woff2) format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Marianne';
    src: url(../assets/fonts/Marianne/Marianne-Bold.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url(../assets/fonts/Marianne/Marianne-Bold_Italic.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-ExtraBold_Italic.woff2) format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Marianne';
    src: url(../assets/fonts/Marianne/Marianne-ExtraBold.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-ExtraBold.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url(../assets/fonts/Marianne/Marianne-ExtraBold_Italic.woff) format('woff'),
        url(../assets/fonts/Marianne/Marianne-ExtraBold_Italic.woff2) format('woff2');
    font-weight: 800;
    font-style: italic;
}