@import './fonts.css';

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::before,
::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Marianne";
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

label {
  margin-bottom: .5rem;
  margin-left: .5rem;
}