.wrapper {
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
}

table {
    margin: 1rem;
    width: 100%;
    border-collapse: collapse;
    background-color: #fefefe;
    border-radius: .5rem;
    box-shadow: 0 .4rem .8rem #0005;
}

th,
td,
caption {
    padding: 0.5rem;
}

caption {
    background-color: #dddddd;
    text-align: left;
    position: relative;
}

caption button {
    position: absolute;
    top: 25%;
    right: 0.5rem;
}

tr:nth-of-type(2n) {
    background-color: #0001;
}