.globalHeader {
    width: 100vw;
    height: var(--header-height);
    max-height: var(--header-height);

    display: grid;
    align-items: center;

    grid-template-columns: var(--navBar-width);
    grid-template-rows: auto;
    grid-template-areas:
        '. . .';

    gap: 2rem;
    padding: 1rem 0;

    background-color: white;
    box-shadow: 0px .2rem .4rem #999a;

    z-index: 1;
}

.marianne {
    justify-self: center;
    margin-inline: 2rem;
    max-height: 3rem;
}

.siteTitle {
    justify-self: start;
}

.mainHeaderActions {
    justify-self: end;
    display: flex;
    align-items: center;
}

.mainHeaderActions * {
    margin-right: 2rem;
}

.logX-btn {
    padding: .250rem 1.5rem;
    max-height: min-content;
}